<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Paramètres de connexion à la base de données PostgreSQL -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/tp_hibernate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>

        <!-- Dialecte SQL pour PostgreSQL -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Affiche les requêtes SQL exécutées sur la console -->
        <property name="show_sql">true</property>

        <!-- Met à jour le schéma de la base de données au démarrage -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Déclaration des classes d'entités annotées -->
        <mapping class="ma.projet.entities.Salle"/>
        <mapping class="ma.projet.entities.Machine"/>

    </session-factory>
</hibernate-configuration>